language: java
jdk:
  - openjdk11

branches:
  only:
    - develop

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build'

notifications:
  email:
    recipients:
      - support@grooteogi.net
